* {
  font-family: "Montserrat";
  padding: 0px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.879);
}

p {
  font-size: 20px;
  line-height: 33px;
}

body {
  background-color: #0e0e0e;
  margin: auto;
  background-image: url(image/BackgroundDg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.fodo {
  max-width: 1000px;
  padding-bottom: 100px;
  margin: auto;
}

.project-title {
  background-color: #000000b8;
  width: 100%;
  height: 40px;
  border-radius: 0;
}

nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  animation: opacity-site 1.75s;
}

@keyframes opacity-site {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.specility-name {
  padding-top: 5px;
  font-size: 18px;
  opacity: 80%;
  transition: all 0.5s;
}

.specility-name:hover {
  opacity: 100%;
}

.logo-name {
  cursor: pointer;
}

.logo-name h1 {
  font-size: 40px;
}

.logo-name h2 {
  font-size: 20px;
  animation: khalil;
}

.linkedin-logo {
  width: 40px;
  height: 40px;
  opacity: 50%;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: auto;
  margin-bottom: auto;
}

.linkedin-logo:hover {
  opacity: 100%;
}

.Resume {
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.879);
  border-radius: 7px;
  background-color: #1c74e7d2;
  padding: 14px 30px;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.5s;
  font-size: 15px;
}

.Resume:hover {
  background-color: #1c73e7;
}

#about {
  padding-top: 50px;
}

.About-title {
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.879);
  font-size: 36px;
}

.about {
  display: flex;
  gap: 35px;
  border-radius: 5px;
}

.about p {
  font-size: 28px;
  opacity: 80%;
  line-height: 45px;
  align-self: center;
}

.about p span,
.Education-flex span {
  font-weight: bold;
  opacity: 100%;
}

.about img {
  align-self: center;
  border-radius: 6px;
}

.work-place {
  display: flex;
  margin-top: 60px;
  padding: 20px;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.02);
}

.work-place img {
  filter: grayscale(100%);
}

.work-place p {
  opacity: 60%;
  align-self: center;
  font-size: 28px;
  font-weight: 700;
}

section {
  padding-top: 75px;
}

.Project-flex {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  font-size: 24px;
}

.Education-flex {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  font-size: 24px;
}

.background-image-gif {
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.079);
  width: 100%;
  display: flex;
  align-items: end;
}

.Education-flex div {
  background-color: #ffffff06;
  border-radius: 6px;
}

.Project-flex div {
  background-color: #ffffff06;
  border-radius: 6px;
}

#about {
  animation: opacity-about 4s;
}

@keyframes opacity-about {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff06;
  text-align: center;
  width: 100%;
  margin: auto;
}

footer div p {
  padding: 20px 40px;
  font-size: 18px;
}

footer div p span {
  font-weight: 600;
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  object-fit: cover;
  width: 170px;
  height: 170px;
}

.project-card {
  width: 100%;
  position: relative;
}

.education-card {
  width: 100%;
  position: relative;
}

.project-details {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-education {
  font-size: 19px;
}

.project-description {
  font-size: 15px;
  opacity: 60%;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 40px;
}
