html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}


body {
    background: rgb(7,8,10);
    background: linear-gradient(360deg, rgba(7,8,10,1) 0%, rgb(15, 19, 33) 90%, rgb(18, 22, 39) 100%);
    font-family: Arial, sans-serif;
    color: white;
}

p,h1{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}

.full-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    background: #0E111D;
}

nav img{
    padding-left: 40px;
}

nav p{
    font-size: 20px;
    font-weight: bold;
    
}
.container{
   display: flex;
   align-items: center;
   column-gap: 50px;
   /* background-color: green; */
   flex-grow: 1;
}

.menu{
    /* background-color: red; */
    height: fit-content;
}

footer {
    /* background-color: rgb(244, 127, 255); */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-bottom: 25px;
}

.social-media {
    display: inline-block;
    vertical-align: middle; /* Aligns items vertically */
    cursor: pointer;
}

.social-media img {
    vertical-align: middle; /* Aligns the image */
}

.social-media p {
    display: inline-block; /* Makes the paragraph inline */
    vertical-align: middle; /* Aligns with the image */
    transition: color 0.5s;
}


h1{
    font-size: 28px;
}

.social-media:hover {
    color: rgb(52, 181, 255);
}

.social-media a:hover{
    color: rgb(52, 181, 255);
}


.menu a{
   transition: color 0.5s;
}

.menu a:hover{
    color: rgb(52, 181, 255);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-top: 150px;
        padding-bottom: 50px;
    }

    footer .social-media p {
        display: none;
    }
}

